# add data folder ignore
data/
# add save_model folder ignore
save_model/

# add folder node_js_design_patterns ignore
.ipynb_checkpoints/
node_js_design_patterns/
# add file package.json
package.json
.ipynb_checkpoints/pot_fuse_prot_rna-checkpoint.ipynb
# add folder __pycache__
__pycache__/
processed/
# add folder analysis
analysis/
GSPI/models/CLL_union.hdf5

# # add .png files
# *.png