# add data folder ignore
data/

# add folder node_js_design_patterns ignore
.ipynb_checkpoints/
node_js_design_patterns/
# add file package.json
package.json
.ipynb_checkpoints/pot_fuse_prot_rna-checkpoint.ipynb
